.formContainer {
  width: 435px;
  margin-top: 64px;
}


.formTitle {
  margin-top: 0;
  font-weight: 700;
  font-size: 24px;
}


.radioGroupContainer {
  margin-top: 24px;
}

.radioGroup {
  position: relative;
  padding: 11px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radioGroup input[type='radio'] {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  border-radius: 50%;
  border:1px solid;
  -webkit-appearance: none;
}



.radioGroup input[type='radio']:checked {
  box-shadow: inset 0px 0px 0px 7px #2A2A2A;
  border:none;
}

.radioInfo {
  display: flex;
  flex-direction: column;
}

.radioInfoContainer {
  margin-bottom: 2px;
}

.text {
  font-size: 14px;
  line-height: 20px;
}

input[id=shipping-dhl] ~.radioInfo .text {
  font-weight:700;
}

.price,
.period {
  font-size: 12px;
  line-height: 16px;
}

.price {
  position: absolute;
  top: 13px;
  right: 20px;
}

.radioBoxBorder {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}


.radioGroup input[type='radio']~.radioBoxBorder {
  border-radius: 4px;
  border: 1px solid #F0F0F5;
}

.radioGroup input[type='radio']:checked~.radioBoxBorder {
  border: 1px solid #2A2A2A;
}

